<a href="https://colab.research.google.com/github/tartyao/2020python/blob/master/Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 2**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [0]:
num = int(input('Enter number: '))
if num % 2 == 1:
  print(num, 'is odd')
else:
  print(num, 'is even')

Enter number: 3
3 is odd

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [0]:
num1 = float(input('Enter side 1: '))
num2 = float(input('Enter side 2: '))
num3 = float(input('Enter side 3: '))
if num1 + num2 <= num3:
  print("Invalid Input")
elif num1 + num3 <= num2:
  print("Invalid Input")
elif num2 + num3 <= num1:
  print("Invalid Input")
else:
  num4 = num1 + num2 + num3
  print("Perimeter =", num4)

Enter side 1: 1
Enter side 2: 1
Enter side 3: 1
Perimeter = 3.0

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [0]:
user = int(input("Enter your grade: "))
if user < 0 or user > 100:
  print("Invalid! Score must be within 0 - 100.")
elif 70 <= user <= 100:
  print("A")
elif 60 <= user <= 69:
  print("B")
elif 55 <= user <= 59:
  print("C")
elif 50 <= user <= 54:
  print("D")
elif 45 <= user <= 49:
  print("E")
elif 35 <= user <= 44:
  print("S")
else:
  print("U")

if 45 <= user <= 100:
  print('Pass')
elif 0 <= user <=44:
  print('Fail')
else:
  print()

Enter your grade: 44
S
Fail

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [0]:
year = int(input("Enter the year: "))
if year % 100 != 0 and year % 4 == 0:
  print('Leap')
else:
  print("Non-Leap")

Enter the year: 2016
Leap

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [0]:
num = int(input('Enter month: '))
year = int(input('Enter year: '))
list = ('','January','February','March','April','May','June','July','August','September','October','November','December')
if year % 100 != 0 and year % 4 == 0:
  if num == 2:
    print(list[num], year, 'has 29 days.')
  elif num % 2 == 0:
    print(list[num], year, 'has 30 days.')
  else:
    print(list[num], year, 'has 31 days.')
else:
  if num == 2:
    print(list[num], year, 'has 28 days.')
  elif num % 2 == 0:
    print(list[num], year, 'has 30 days.')
  else:
    print(list[num], year, 'has 31 days.')

Enter month: 2
Enter year: 2020
February 2020 has 29 days.

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [0]:
print('Kilograms  Pounds')
for i in range(1,11):
  pound = i * 2.2
  pound = round(pound, 2)
  print(i, " " * (10-len(str(i))), pound)

Kilograms  Pounds
1           2.2
2           4.4
3           6.6
4           8.8
5           11.0
6           13.2
7           15.4
8           17.6
9           19.8
10          22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [37]:
print('Miles  Kilometres  Kilometres  Miles')
for i in range(0,11):
  print(str(i), (5-len(str(i))) * " ", "{:.3f}".format(i*1.609), (10-len(str("{:.3f}".format(i*1.609))))*" ", "{:.0f}".format((i+3)*5) , (10-len(str("{:.0f}".format((i+3)*5))))*" ", "{:.3f}".format((i+3)*5*1.609))

Miles  Kilometres  Kilometres  Miles
0      0.000       15          24.135
1      1.609       20          32.180
2      3.218       25          40.225
3      4.827       30          48.270
4      6.436       35          56.315
5      8.045       40          64.360
6      9.654       45          72.405
7      11.263      50          80.450
8      12.872      55          88.495
9      14.481      60          96.540
10     16.090      65          104.585

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [39]:
d = {}
highest = 0
second = 0
highn = ""
secn = ""
num = int(input('Number of students: '))
for i in range (1,num+1):
  user = input('Enter your name: ')
  score = float(input('Enter your score: '))
  if score > highest:
    second = highest
    secn = highn
    highest = score
    highn = user
  elif score > second:
    second = score
    secn = user
  else:
    pass
print('Highest scorer is', highn, 'with a score of', highest)
print('Second highest scorer is', secn, 'with a score of', second)

Number of students: 5
Enter your name: Jodi
Enter your score: 100
Enter your name: tom
Enter your score: 50
Enter your name: Bob
Enter your score: 60
Enter your name: Morg
Enter your score: 0
Enter your name: Ben
Enter your score: 80
Highest scorer is Jodi with a score of 100.0
Second highest scorer is Ben with a score of 80.0

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [0]:
n = 0
while n ** 2 <= 12000:
  n += 1
print(n)

110

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [0]:
n = 0 
while n ** 3 <= 12000:
  n += 1
n -= 1
print(n)

22

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, … d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [0]:
n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))
for i in range(1, n1+1):
  if((n1 % i == 0) and (n2 % i == 0)):
    ans = i 
              
print(ans)

Enter n1: 18
Enter n2: 12
6

**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [0]:
list1 = []
j = 2
n = int(input('Enter n: '))
while n != 1:
  if (n % j == 0):
    list1.append(j)
    n = n / j
  else:
    j += 1
print(list1)

Enter n: 120
[2, 2, 2, 3, 5]